# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Qdrant storage
qdrant_storage/
storage/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db